@import "tailwindcss";

@layer base {
  h1 {
    @apply text-4xl font-bold text-gray-900 mb-4;
  }
  h2 {
    @apply text-3xl font-semibold text-gray-800 mb-3;
  }
  h3 {
    @apply text-2xl font-medium text-gray-700 mb-2;
  }
}