---
const { grayBackground = false } = Astro.props;
---

<section
  class:list={[
    "flex flex-col md:flex-row md:flex-wrap gap-8 p-8 pb-16",
    { "bg-custom-dark-gray": grayBackground },
  ]}
>
  <slot />
</section>
