---
const { grayBackground = false } = Astro.props;
---

<section
  class:list={[
    "flex flex-col md:flex-row md:flex-wrap gap-8 px-4 md:px-8 pt-8 pt-10 md:pt-20 pb-16",
    { "bg-custom-dark-gray": grayBackground },
  ]}
>
  <slot />
</section>
