---
import PageHeader from "./PageHeader.astro";
import TextSection from "./TextSection.astro";

import { heroImage } from "../assets/images";

interface Props {
  heading?: string;
  subheading?: string;
  textSectionHeading?: string;
  textSectionContent?: string;
  text?: string;
}

const {
  heading = "Kontakt",
  subheading = "För mer information om hur vi kan hjälpa ert projekt.",
  textSectionHeading = "Info@pollux.se\n+46 (0)70 5327165",

  text = "We offer comprehensive web development, cloud infrastructure setup, and digital transformation consulting.",
} = Astro.props;
---

<section id="contact" class="min-h-screen bg-custom-gray">
  <PageHeader
    altText="Contact Image"
    headingText={heading}
    subHeadingText={subheading}
    bgColor="#f4f4f4"
    blackText={true}
  />
  <TextSection textSectionContent={""} grayBackground={true} pageName="Kontakt">
    <p class="text-4xl">Olle Bjurström (CEO)</p>
    <p class="text-4xl">olle@pollux.se</p>
    <p class="text-4xl">+46 (0)70 532 71 65</p>
  </TextSection>
</section>
