<!-- Desktop Navigation -->
<nav
  class="hidden md:grid grid-cols-[170px_170px_170px] self-center items-center h-fit"
>
  <a
    href="#"
    class="desktop-nav-link text-[15px] md:pl-4 leading-[1.2] transition-colors duration-300 w-fit"
    >Pollux</a
  >
  <a
    href="#services"
    class="desktop-nav-link text-[15px] leading-[1.2] transition-colors duration-300 w-fit"
    >Konsulterande</a
  >
  <a
    href="#clients"
    class="desktop-nav-link text-[15px] leading-[1.2] transition-colors duration-300 w-fit"
    >Kunder</a
  >
  <a
    href="#about"
    class="desktop-nav-link col-start-2 text-[15px] leading-[1.2] transition-colors duration-300 w-fit"
    >Om Pollux</a
  >
  <a
    href="#contact"
    class="desktop-nav-link contact-link text-[15px] leading-[1.2] transition-colors duration-300 w-fit"
    >Kontakt</a
  >
</nav>
