---
import { Image } from "astro:assets";
import { logo } from "../assets/icons";
interface Props {
  heading?: string;
  text?: string;
}
---

<section
  id="footer"
  class="py-4 px-8 bg-gray-50 min-h-[60dvh] bg-brand text-black relative"
>
  <footer>
    <div class="flex justify-between">
      <div class="hidden md:block">
        Copyright © {new Date().getFullYear()} Pollux
      </div>
      <div class="grid md:grid-cols-3">
        <div>
          <a href="#" class="text-2xl md:text-base hover:underline">Pollux</a>
        </div>
        <div class="flex flex-col">
          <a href="#about" class="text-2xl md:text-base hover:underline"
            >Konsulterande</a
          >
          <a href="#services" class="text-2xl md:text-base hover:underline"
            >Om Pollux</a
          >
          <a href="#clients" class="text-2xl md:text-base hover:underline"
            >Kunder</a
          >
          <a href="#contact" class="text-2xl md:text-base hover:underline"
            >Kontakt</a
          >
        </div>
        <div class="hidden md:flex flex-col">
          <a
            href="mailto:info@pollux.com"
            class="text-2xl md:text-base hover:underline">info@pollux.com</a
          >
          <a
            href="tel:+46705327165"
            class="text-2xl md:text-base hover:underline">+46 70 532 71 65</a
          >
        </div>
      </div>
    </div>

    <Image src={logo} alt={""} class="right-4 bottom-4 absolute invert" />
  </footer>
</section>
