---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Pollux - Projektledning för industriprojekt",
  description = "En drivande kraft genom hela investeringsprojektets alla faser. Resultat börjar med människor.",
} = Astro.props;
---

<!doctype html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/pfq2sqe.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
